In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.metrics import mean_absolute_error
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.linear_model import LinearRegression

- Load the dataset into colab

In [2]:
data = pd.read_csv('master_currency.csv')
data.head(3)

,Date,EUR,AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,GBP,HKD,HRK,ILS,INR
0,2022-05-18,1.052299,0.702494,0.538039,0.202466,0.780153,1.003512,0.148269,0.042695,0.141403,1.242854,0.127411,0.139655,0.298436,0.012889
1,2022-05-17,1.054074,0.703037,0.538967,0.200321,0.779849,1.008065,0.148677,0.042655,0.141653,1.248907,0.127393,0.140089,0.297876,0.012910
2,2022-05-16,1.042209,0.692185,0.532879,0.197316,0.773575,0.994530,0.147232,0.042177,0.140046,1.225490,0.127390,0.138544,0.293789,0.012854

# QUESTION 9 AND 10
Predict value of currency "CHF" from currency"EUR" where the "EUR" value is the average value of the currency "EUR"

In [7]:
new_data = data[["EUR" , "CHF"]]
new_data

          EUR       CHF
0    1.052299  1.003512
1    1.054074  1.008065
2    1.042209  0.994530
3    1.038529  1.000000
4    1.038529  1.000000
..        ...       ...
361  1.218769  1.112966
362  1.218769  1.112966
363  1.220256  1.110248
364  1.221150  1.109385
365  1.222195  1.114827

[366 rows x 2 columns]

In [8]:
X = np.array( new_data.iloc[:,0] ).reshape(-1,1)
Y = np.array( new_data.iloc[:,1] ).reshape(-1,1)

r = np.corrcoef (new_data.iloc[:,0] , new_data.iloc[:,1]) [0][1]
model = LinearRegression().fit(X , Y)
c = model.intercept_
m = r*(np.std(Y) / np.std(X))
x = np.average(X)

predict_value = m*x + c

In [9]:
predict_value

array([1.08209802])

# Question 5 and 6
Find the correlation coefficient for the currency pair - "EUR-HKD"

In [12]:
new_data1 = data[["EUR" , "HKD"]]

In [13]:
new_data1.corr()

          EUR       HKD
EUR  1.000000  0.952371
HKD  0.952371  1.000000

# Question 7 and 8
Example : Find the regression slope for the currency pair- "EUR-HKD"

In [19]:
new_data2 = data[["EUR" , "HKD"]]

In [21]:
x = np.array( new_data2.iloc[:,0] ).reshape(-1,1)
y = np.array( new_data2.iloc[:,1] ).reshape(-1,1)

n = np.size(x)

x_mean = np.mean(x)
y_mean = np.mean(y)
x_mean,y_mean
Sxy = np.sum(x*y)- n*x_mean*y_mean
Sxx = np.sum(x*x)-n*x_mean*x_mean

b1 = Sxy/Sxx
b0 = y_mean-b1*x_mean
print('slope b1 is', b1)
print('intercept b0 is', b0)

slope b1 is 0.009202586948457705
intercept b0 is 0.11775525164477772